@import '~styles/_variables';

.profile {
  background-color: #f5f5f5;
  font-size: 15px;

  &-controlls {
    text-align: center;
    margin: 16px;
    display: inline-block;

    &-inner {
      display: inline-block;
      text-align: left;
    }

    &-button {
      display: inline-block;
      font-size: 16px;
      padding: 8px 16px;
      margin: 2px;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      line-height: 24px;
      border-radius: 2px;
      border: 0;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      background-color: #ffffff;
      cursor: pointer;
      outline: 0;
      &.current {}
      &.completed { color: $color-primary; }
      &.finish {
        background-color: $color-primary;
        color: #ffffff
      }
      &:disabled { color: gray; background-color: initial; }
    }

    &-description {
      margin-top: 16px;
      margin-bottom: 40px;
      text-align: left;
      color: $color-label;
    }
  }

  &-form {
    // max-width: 400px;
    margin: 16px auto 150px;

    &--legend {
      // margin-top: 16px;
      // margin-bottom: 40px;
      // text-align: left;
    }

    // formGroups:
    // 1. general
    &--general {
      max-width: 350px;
      margin: 0 auto;
    }

    // 2. location
    &--location {
      max-width: 350px;
      margin: 0 auto;
    }

    // 3. social
    &--social {
      max-width: 450px;
      margin: 0 auto;
    }


    // 4.favorite
    &--favorite {
      max-width: 800px;
      margin: 0 auto;
      &-pet {
        width: 150px;
        height: 150px;
        border-radius: 2px;
        // & > input:checked + .profile--form-pet-item--image {
        //     border-color: $color-primary;;
        // }
      }
      &-input {
        &:checked {
          & ~ .profile-form--favorite-image { outline-color: $color-primary; }
        }
      }

      &-image {
        outline: 2px solid;
        outline-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

    }
  }

  &-preview {
    padding: 24px;
    background-color: #ffffff;
    display: inline-block;

    // Block
    &--content {
      height: 195px;
      text-align: left;
      padding-right: 200px;
      // background: url(assets/images/cat2.jpg);
      background-repeat: no-repeat;
      background-size: 200px 195px;
      background-position-x: right;
    }
    &--info {
      position: relative;
      padding-right: 24px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    // &--image {
    //   width: 200px;
    //   height: 195px;
    //   display: inline-block;
    //   vertical-align: middle;
    // }

    // Elements
    &--name {
      font-size: 20px;
    }
    &--email {
      font-size: 15px;
      color: $color-label;
      margin: 12px 0;
    }
    &--address {
      font-size: 15px;
      color: $color-label;
    }
    &--social {
      font-size: 15px;
      color: $color-label;
      &-name { color: #0000ff;}
      &-link {}
    }

  }

  &--actions {

  }
}
