/*
* FORM
*/

@import '~styles/_variables';

.form {
  position: relative;
  text-align: left;
  &.ng-touched &-input.ng-invalid {
    border-color: $color-error;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  // input
  &-label {
    font-size: 0.6rem;
    text-align: left;

    &--checkbox {
      line-height: 22px;
      font-weight: 600;
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 4px;
      }
      &:before{
        left: 5px;
        top: 1px;
        height: 17px;
        width: 17px;
        border: 2px solid #c6c6c6;
        background: #fff;
      }
      &:after {
        left: 8px;
        top: 4px;
        height: 13px;
        width: 13px;
        background: $color-primary;
        opacity: 0;
      }
    }
  }

  &-input {
    color: #000;
    font-size: 1rem;
    // font-weight: 300;
    border: 0;
    background: none;
    // box-shadow: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    outline: none;
    &:focus { outline-style: none; }

    &::-webkit-input-placeholder { color: $color-placeholder; }
    &::-moz-placeholder          { color: $color-placeholder; } // Firefox 19+
    &:-moz-placeholder           { color: $color-placeholder; } // Firefox 18-
    &:-ms-input-placeholder      { color: $color-placeholder; }

    &:not([type=checkbox]):not([type=radio]) { -webkit-appearance: none; }

    &--default {
      height: 36px;
      padding: 0 8px;
      background: rgba(#ffffff, .2);
      border-radius: 2px;
      border: 1px solid $color-placeholder;
    }
    &--white-bg { background-color: #ffffff; }
    &--full { width: 100%; box-sizing: border-box; }
    &--with-icon { padding-left: 48px; }
    &--bottom-border {
      border: none;
      border-bottom: 1px solid $color-placeholder;
    }
    &--right { float: right; }
  }

  &-select {
    display: inline-block;
    background: #fff;
    border: 0;
    border-radius: 2px;
    padding: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    height: 1.2rem;
    font-size: 13px;
    color: #333;
    font-size: 1rem;
    outline: 0;
    line-height: 1.4;
    transition: all 200ms linear;

    &--medium {
      height: 36px;
      border-radius: 2px;
      // border: 2px solid $color-placeholder;
    }
    &--full { width: 100%; box-sizing: border-box; }
  }

  &-radio {
    position: relative;
    display: inline-block;
    float: left;
    // & > input:checked + .form-radio--image {
    //   border-color: $color-primary;
    // }

    &--input,
    &--image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    &--input {
      display: block;
      opacity: 0;
      z-index: 5;
      // &:checked {
      //   & ~ .form-radio--image { border-color: $color-primary; }
      // }
    }
    &--image {
    }
  }

  &-checkbox {
    height: 40px;
    line-height: 40px;
    // &--inline {
    //   input[type=checkbox] { vertical-align: middle; }
    //   input[type=text] {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     height: 100%;
    //   }
    // }
  }

  &-group {
    position: relative;
    margin-bottom: 20px;

    &-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // display: -webkit-box;
      // display: -moz-box;
      // display: -ms-flexbox;
      // display: -webkit-flex;
      // display: flex;

      // -webkit-flex-flow: row wrap;
      // justify-content: space-around;

      // margin: 0 -2px;
      // position: relative;
      &-item { flex-grow: 1; }

      &--spaced { margin: 3px; }
      &--medium {
        height: 34px;
        line-height: 32px;
      }
    }

    &--spaced-bottom { margin-bottom: 33px; }
    &--spaced-top { margin-top: 50px; }
    &--sm-top-spaced { margin-top: 19px; }
    &--md-top-spaced { margin-top: 22px; }
    &--checkbox { position: relative; padding-left: 30px; }
    &--with-icon { position: relative; }
    &--center { text-align: center; }
    &--inline { display: inline-block; }
    &--full { width: 100%; }
  }

  &--full { width: 100%; }
  &--middle { width: 320px; }
  &--center {
    display: table;
    margin: 0 auto;
  }

  .control-messages:before { display: none; }

  &.ng-invalid {
    .control-messages {
      @include control-messages($color-error);
    }
  }
}
