/*
* _variables.scss
*/

$font-stack:           'Open Sans', sans-serif;

$color-primary:        #ff9800 !default;

$color-gray:           #f2f2f2  !default;
$color-placeholder:    #bbbbbb  !default;
$color-label:          #aaaaaa  !default;
$color-error:          #ff0000  !default;

$tablet:               '(min-width: 768px)';
$desktop:              '(min-width: 992px)';
$extra-desktop:        '(min-width: 1200px)';
$extra-big-desktop:    '(min-width: 1436px)';
