<div class="index table">
  <div class="table-cell table-bottom">

    <!--
    TODO
    add background component  -->

    <div class="index-wrap_logo">
      <app-logo-full></app-logo-full>
    </div>

    <div class="index-wrap_controlls padding-horizontal">
      <!-- <button routerLink="registerFB" class="button button-full button-fb">
        <span class="icon icon-fb"></span>
        Register with Facebook
      </button> -->
      <button routerLink="register" class="button button-full">Register with Email</button>
      <button routerLink="login" class="button button-full">Log In</button>
    </div>

  </div>
</div>
